body{
    height: 100%;
    background-color: gainsboro;
}

.wrapper{
    width: 50%;
    height: 6000px;
    margin: 0 auto;
    background-color: #ffffff;
}

.image-box > img{
    background-color: paleturquoise;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 1px rgb(180, 213, 218);
    margin-bottom: 50px;
}

.return-btn{
    border-radius: 30px;
    padding-left: 30px;
    font-size: 1.1rem;
    width: 100px;
    padding: 8px 0;
    border: 1px solid orange;
}